<div class="card card-body">

  <table class="table table-sm">
    <tr>
      <th>Ürün Adı</th>
      <th>Hammadde</th>
      <th>Miktar</th>
      <th>Güncelle</th>
      <th>Sil</th>
    </tr>

    {% for recete in receteler %}
    <tr>

      <td>{{recete.ürün}}</td>
      <td>{{recete.hammadde}}</td>
      <td>{{recete.miktar}}</td>
      <td><a class="btn btn-sm btn-success text-white" role="button" href="/firma/reçeteGüncelle/{{recete.pk}}">Güncelle</a></td>
    <td><a class="btn btn-sm btn-danger text-white" role="button" href="/firma/reçeteSil/{{recete.pk}}">Sil</a></td>
    {% endfor %}


  </table>
  <div class="row" style="margin-top: 11px;">
  
    <div class="col-2">
      <a href="/firma/reçeteEkle" class="btn btn-m btn-success text-white">+ReçeteEkle</a>
    </div>
  
  </div>
</div>



