<div class="card card-body">
	
		<table class="table table-sm">
			<tr>

				<th>İstenen Ürünler</th>

				<th>Sipariş Tarihi</th>
				<th>Durum</th>
				<th>Onayla</th>
				<th>Sil</th>
			</tr>

			{% for siparis in siparişler %}
				<tr>

						<td><a class="btn btn-sm btn-info text-white" role="button"href="/core/ürünGöster/{{siparis.pk}}">Ürünleri Gör</a></td>
						<td>{{siparis.sipariş_tarihi}}</td>
						{% if siparis.onaylandı %}
						<td>Onaylandı</td>
						{% else%}
						<td>Onay Aşamasında</td>
						{%endif%}
						<td><a class="btn btn-sm btn-info text-white"role="button" href="">Onayla</a></td>

						<td><a class="btn btn-sm btn-danger text-white"role="button" href="firmaSiparisSil/{{siparis.pk}}">Sil</a></td>

					</tr>
				{% endfor %}

		
			</table>
		</div>