<div class="card card-body">

  <table class="table table-sm">
    <tr>
      <th>Ürün Adı</th>
      <th>Kapak Cinsi</th>
      <th>Genişlik</th>
      <th>Yükseklik</th>
      <th>Voltaj</th>
      <th>Ağırlık</th>
      <th>Bakım Aralığı</th>
      <th>Fiyat</th>
      <th>Güncelle</th>
      <th>Sil</th>
    </tr>

    {% for urun in ürünler %}
    <tr>
      <td>{{urun.adı}}</td>
      <td>{{urun.kapak}}</td>
      <td>{{urun.genişlik}}</td>
      <td>{{urun.yükseklik}}</td>
      <td>{{urun.voltaj}}</td>
      <td>{{urun.ağırlık}}</td>
      <td>{{urun.bakım_aralığı}}</td>
      <td>{{urun.fiyat}}</td>
      <td><a class="btn btn-sm btn-primary text-white" role="button" href="/firma/ürünGüncelle/{{urun.pk}}">Güncelle</a></td>
      <td><a class="btn btn-sm btn-danger text-white" role="button" href="/firma/firmaUrunSil/{{urun.pk}}">Sil</a></td>

    </tr>
    {% endfor %}


  </table>
  <div class="row" style="margin-top: 11px;">
  
    <div class="col-2">
      <a href="/firma/ürünEkle" class="btn btn-m btn-success text-white">+ÜrünEkle</a>
    </div>
  
  </div>
</div>