{%extends 'home/index.html'%}
{%block title%}Hoşgeldiniz{%endblock%}
{%block content%}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Siparişler</h5>
      <p class="card-text">Bayileriniz tarafından gönderilen siparişleri incelemek için tıklayınız.</p>
      <a href="#" class="btn btn-primary">Siparişleri incele</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Ödemeler</h5>
      <p class="card-text">Ödemeleri düzenlemek için tıklayınız</p>
      <a href="#" class="btn btn-primary">Ödemeleri incele</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Ürünler</h5>
      <p class="card-text">Ürün oluşturma ve ürünlerde kullanılan hammaddeleri belirlemek için tıklayınız</p>
      <a href="#" class="btn btn-primary">Ürünleri incele</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Bayiler</h5>
      <p class="card-text">Bayilik taleplerni onaylamak ve Bayilerinizin bilgilerini görüntülemek için tıklayınız</p>
      <a href="#" class="btn btn-primary">Bayileri incele</a>
    </div>
  </div>

  {%endblock%}