<div class="card card-body">

  <table class="table table-sm">
    <tr>
      
      <th>Müşteri</th>
      <th>Ürün Adı</th>
      <th>Bakıma Alma Tarihi</th>
      <th>Bakım Bitiş Tarihi</th>
      <th>İşlem Fiyatı</th>
      <th>Sil</th>
     
    </tr>

    {% for bakim in bakımlar %}
    <tr>
      
      <td>{{bakim.müşteri}}</td>
      <td>{{bakim.ürün}}</td>
      <td>{{bakim.tarih}}</td>
      <td>{{bakim.teslim_tarihi}}</td>
      <td>{{bakim.tutar}}</td>      
      <td><a class="btn btn-sm btn-danger text-white" role="button" href="bakimSil/{{satis.pk}}">Sil</a></td>
      

    </tr>
    {% endfor %}


  </table>
</div>