<div class="card card-body">
 {{a}}
  <table class="table table-sm">
    <tr>
      
      <th>Müşteri</th>
      <th>Ürün Adı</th>
      <th>İşlem Tarihi</th>
      <th>Satış Fiyatı</th>
      <th>Alış Fiyatı</th>
      <th>Ödeme Aracı</th>
      <th>Sil</th>
      <th></th>
    </tr>

    {% for satis in bayisatis %}
    <tr>
      
      <td>{{satis.müşteri}}</td>
      <td>{{satis.ürün}}</td>
      <td>{{satis.tarih}}</td>
      <td>{{satis.satış_fiyatı}}</td>
      <td>{{satis.alış_fiyatı}}</td>
      <td>{{satis.ödeme_aracı}}</td>
      <td><a class="btn btn-sm btn-danger text-white" role="button" href="siparisSil/{{satis.pk}}">Sil</a></td>
    

    </tr>
    {% endfor %}


  </table>
</div>